@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Cute+Font');

body {
    text-align: center;
    background-color: #DDF5F7;
    padding: 0px 25px 10px 25px;
}

h1, h2 {
    font-family: 'Cute Font', cursive;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 40px;
}

p, li {
    font-family: 'Advent Pro', sans-serif;
}

p {
    padding-bottom: 20px;
}

li {
    text-align: center;
    list-style: none;
    font-size: 30px;
}

ul {
    text-align: center;
    padding-left: 0px;
    padding-bottom: 25px;
}

img {
    height: 300px;
    border: solid 2px black;
}

label {
    display: block;
    margin: 10px;
    font-family: 'Advent Pro', sans-serif;
    font-size: 1.2em;
}

input {
    margin-bottom: 20px;
    padding: 3px;
    text-align: center;
    height: 30px;
    width: 200px;
    font-size: 1.2em;
    border-radius: 5px;
    border: 5px dashed pink;
}

button {
    display: block;
    margin: 0 auto;
    font-size: 1.2em;
    border-radius: 5px;
}

.button-div {
    padding: 20px;
}

#Quiz {
    background-color: #A3AECD;
}

#Results {
    font-size: 1.2em;
}

#Intro {
    background-color: #FFE1A1; 
}

#PartOne {
    background-color: #8C9ED0; 
}

#PartTwo {
    background-color: #7FC1C7; 
}

#PartThree {
    background-color: #FFCDA1; 
}