@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Cute+Font');

body {
    text-align: center;
    background-color: #DDF5F7;
    padding: 25px;
}

h1, h2 {
    font-family: 'Cute Font', cursive;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 40px;
}

p, li {
    font-family: 'Advent Pro', sans-serif;
}

p {
    padding-bottom: 20px;
}

li {
    text-align: center;
    list-style: none;
    font-size: 30px;
}

ul {
    text-align: center;
    padding-left: 0px;
    padding-bottom: 25px;
}

img {
    height: 300px;
    border: solid 2px black;
}

#Intro {
    background-color: #8C9ED0; 
}

#PartOne {
   background-color: #8C9ED0; 
}

#PartTwo {
    background-color: #7FC1C7; 
}

#PartThree {
    background-color: #FFCDA1; 
}